@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.boxLogin{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-end;
    top: 50%;
    left: 15%;
    transform: translate(-25%, -50%);
  }
  
  .boxLogin h1{
    font-family: cursive;
    color: black;
    float: left;
    font-size: 35px;
  }
  
  .inputLogin{
    width: 350px;
    height: 45px;
    margin-bottom: 30px;
  
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
  }
  
  .boxLogin i{
    width: 26px;
    float: left;
    text-align: center;
  }
  
  .boxLogin input {
    border: none;
    outline: none;
    background: none;
    color: white;
    float: left;
    border-bottom: 3px solid black ;
  
  }
  
  .boxLogin button{
    border-radius: 15px;
    width: 150px;
    height: 40px;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transform: translate(-50%);  
  }